/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-bottom: 20px;
  position: relative;
}

.carousel-caption {
	margin: 100px;
}

#carousel-example-generic {
	padding-top: 65px;
}

.nav {
	background-color: black;
	position: fixed;
	height: 65px;
/*	z-index: 999;*/
	width: 100%;
}

.nav ul li {
	display: inline;
	float: right;
	font size: 16px;
	padding: 20px 10px 20px;
}

.nav ul li a {
	color: #fff;
	height: 45px;
	padding: 20px 20px 0;
	text-transform: uppercase;
	font-size: 16px;
}

.nav ul li a :hover {
	color: #ff0;
	background: #DCA459;
	text-decoration: none;
} 

.nav a {
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	padding-left: 50px;
	padding-top: 100px;
	margin-top: 100px;
	border-top: 100px;
}

#work-title {
	text-align: center;
	padding-top: 50px;
}

#info {
	background-color: black;
	color: white;
	padding: 100px;
	padding-top: 250px;
	padding-bottom: 250px;
}

#contact {
	background-color: black;
	padding:100px;
	color: white;
}