/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-bottom: 20px;
  position: relative;
}

/*Lesson 11*/
#contact{
	background-image: url("img/parallax.jpg");
/*Add a background image*/
	background-attachment: fixed;
/*Give the background a fixed position does it not scroll when you scroll*/
	background-size: cover;
/*Have the background cover the entire div section*/
	color: white;
/*Change the color of the text on top so it is readable, and adjust the pading as needed.*/
	padding:100px;
	padding-top: 50px;
	height: 600px;
}

/*.form-control {
	width:80%;
}*/

#faq {
	padding-top: 10px;
	color: black;
	height: 700px;
}

.carousel-caption {
	margin: 100px;
}

#carousel-example-generic {
	padding-top: 40px;
}

.jumbotron {
	padding-bottom: 250px;
}

.navbar {
	background-color: black;
	position: fixed;
	height: 50px;
	z-index: 999;
	width: 100%;
	/*filter: alpha(opacity=60);*/
}

.projectName {
	text-transform: uppercase;
	font-size: 16px;
	padding: 13px;
}

.projectName a {
	color: white;
	padding: 15px;
}

.nav {
	float:right;
}

.nav ul li {
	display: inline;
	float: right;
	font size: 16px;
	padding: 5px 10px 20px;
}

.nav ul li a {
	color: white;
	height: 45px;
	padding: 20px 20px 0;
	text-transform: uppercase;
	font-size: 16px;
}

.nav ul li a :hover {
	color: #ff0;
	background: #DCA459;
	text-decoration: none;
} 

.nav a {
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
}

a .home {
	padding-right: 500px;
}

}
.info {
	background-color: black;
	color: white;
	padding: 100px;
	padding-top: 250px;
	padding-bottom: 400px;
}

#work {
	background-color: white;
}

#work-title {
	text-align: center;
	padding-top: 30px;
}
